.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.b-bg
{
  background: linear-gradient(217deg, rgb(255, 252, 91), rgba(255, 255, 255, 0.247) 70.71%),
    linear-gradient(127deg, rgb(255, 68, 68), rgba(255, 255, 255, 0.212) 70.71%),
    linear-gradient(336deg, rgb(0, 47, 255), rgba(255, 255, 255, 0.185) 70.71%);
}
bg-none
{
  background:local ;
}